/* styles for #pricing */
#pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    overflow: auto;
    margin-bottom: 50px;
  }
  
  #pricing h2 {
    align-self: flex-start;
    margin-bottom: 10px;
  }
  
  /* styles for .images-container */
  .images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .images-container img {
    margin: 0 10px;
    max-height: 530px;
    max-width: 50%;
  }
  